<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Meta tags for SEO -->
    <%- include ('../partials/meta.ejs') %>
    <!-- End meta tags for SEO-->
    <!-- css  links-->
    <%- include ('../partials/meta.ejs') %>
    <%- include ('../partials/css.ejs') %>
    <!-- end css links -->
</head>

<body>

    <!-- Header -->
    <%- include('../partials/header.ejs') %>
    <!-- Header end-->



    <main><%- body %></main>


    <!-- Footer-->
    <%- include('../partials/footer.ejs') %>
    <!-- End Footer -->

    <!-- All js files -->
    <%-  include ('../partials/js.ejs') %>
    <!-- End js files -->

</body>

</html>